.container-fluid.main {
  position: fixed; /* To make the navbar positions relative to this container */
  padding: 0;
  top: 80px;
  height: calc(100vh - 80px);
  overflow: scroll;
  scroll-behavior: smooth;
}

.navbar-default {
  background-image: none;
  background-color: #fff;
  border-radius: 0px;
  border: 1px solid #e0e0e0;
  box-shadow: none;
  padding: 10px 20px;
  position: absolute; /* Make the menu out of the document flow so it can placed anywhere without disturbing other widgets */
  top: 0;
  left: 0;
  right: 0;
  z-index: 10; /* If you delete this line, your menu link won't be clicked because it is behind the background. Applying this code bring the menu in front of the background */
  min-height: 80px;
}

.navbar-default .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana;
  color: rgb(171, 43, 47);
  font-size: 20px;
  max-height: 40px;
}

.navbar-default h1 {
  margin: 0;
  margin-left: 4px;
  font-size: 40px;
}

.navbar-default img {
  height: 40px;
  width: 40px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: transparent;
}

.navbar-default .navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-default .navbar-nav > li:not(:first-child) {
  margin-left: 16px;
}

.navbar-default .navbar-nav > li > a {
  font-size: 20px;
  border: 1px solid rgb(171, 43, 47);
  color: rgb(171, 43, 47);
  padding: 8px 16px;
  border-radius: 4px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: rgb(171, 43, 47);
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a:active {
  background-color: rgb(146, 18, 22);
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.wine-tile-link {
  color: #292f33;
}

.wine-tile-link .card {
  box-shadow: 0;
  transition: 0.5s;
}

.wine-tile-link:active,
.wine-tile-link:focus,
.wine-tile-link:hover {
  text-decoration: none;
  color: #292f33;
}

.wine-tile-link .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
