.container-fluid.main {
  padding: 48px;
  width: 100%;
}

#contact h3 {
  color: rgb(171, 43, 47);
}

#contact {
  margin: auto;
  background: white;
  border: 1px solid #e0e0e0;
  padding: 24px;
  max-width: 800px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px !important;
}

.fieldset-input {
  width: 80%;
  margin: auto;
}

.fieldset-input > input {
  width: 100%;
}

.first-input {
  margin-top: 32px !important;
}

.last-input {
  margin-bottom: 32px !important;
}
